
body{
    font-family: 'Roboto', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;

}
.altura-u-d{
    padding: 60px 0px;

}



.logotipo{
    width: 250px;
    padding: 10px 0px;
}

.sps--abv{
    background-color:transparent;
    color:#000;

}
.sps--blw{
    background-color:#3C455B;
    color:#fff;
}
.iconos-sociales{
    width: 25px;
    margin: 10px 5px;

}

.row{
    margin: 15px;

}

.banner-video{
    background-image: url("../imagenes/fondo-video.jpg");
    position:relative;
    text-align:center;
    padding: 150px 0px;
    margin:0px 50px;
}

.banner-video img{

    width:100px;
    height:100px;
    position: relative;

}

footer{
    padding:10px 0px ;
    text-align: center;


}

.logotipo-f{
    background-color:#000000;
    margin-bottom:20px;
}

footer p{
    font-size: 20px;
}